@import url(./font.css);
@import url(./reset.css);
@import url(./root.css);

/*------------ header part -------------------*/
.c_header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.c_header_baner {
  width: 100%;
}
.c_header_baner img {
  max-width: 100%;
  height: auto;
}
.c_header-container {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  margin-top: 24px;
}
.c_header-container .c_up {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.c_up .c_up-right {
  width: 70%;
  display: flex;
}
.header-form {
  position: relative;
}
.header-form input {
  padding-right: 30px;
  width: 560px;
  height: 40px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #f1f1f1;
}
form::before {
  width: 7px;
  height: 7px;
  content: "\f002";
  font-family: fontawesome;
  position: absolute;
  right: 27px;
  top: 36%;
  font-size: 16px;
  color: #6c757d;
  transform: translateY(-50%);
}

.c_up .c_up-left {
  width: 15%;
  display: flex;

  justify-content: space-around;
}

.c_button-login a {
  border: 1px solid #ff096a;
  border-radius: 8px;
  width: 131px;
  height: 34px;
  color: #ff096a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c_button-login a:hover {
  background-color: #ff096a;
  color: white;
}
.c_button-shopping-card {
  position: relative;
}
.c_button-shopping-card::before {
  content: "";
  width: 1px;
  height: 16px;
  color: #6c757d;
  position: absolute;
  top: 50%;
  left: 51px;
  transform: translateY(-50%);
}
.c_button-shopping-card a {
  padding: 6px 12px;
  width: 40px;
  height: 34px;
  background-color: #f1f1f1;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c_button-shopping-card a:hover {
  color: #ff096a;
}
.c_header-container .c_down {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.c_down .c_down-right {
  display: flex;
  align-items: center;
  width: 58%;
}
.mega-list {
  position: relative;
  width: 18%;
  height: 50%;
}
.mega-list a {
  font-size: 12px;
  color: #ff096a;
}
.mega-list a::before {
  width: 7px;
  height: 7px;
  content: "\f107";
  font-family: fontawesome;
  position: absolute;
  top: 34%;
  font-size: 13px;
  color: #ff096a;
  transform: translateY(-50%);
  left: 6px;
}
.c_down-right ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}
.c_down-right ul a {
  font-size: 12px;
}
.c_down-right a:nth-child(6) {
  color: #ff096a;
}
.fa-star,
.fa-gift,
.fa-comments,
.fa-building,
.fa-blog {
  margin-left: 7px;
  color: #cecdcd;
  font-size: 17px;
}
.c_down-left .fa-users,
.fa-location {
  color: #ff096a;
  margin-left: 5px;
}
.c_down .c_down-left {
  display: flex;
  width: 18%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.moshtarian-bashgah {
  position: relative;
  display: flex;
  align-items: center;
}
.moshtarian-bashgah::after {
  content: "";
  width: 1px;
  height: 16px;
  color: #6c757d;
  position: absolute;
  top: 50%;
  left: -10px;
}
.moshtarian-bashgah .c_botton-users {
  width: 131px;
  height: 34px;
  color: #ff096a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moshtarian-bashgah .c_botton-users:hover {
  background-color: #ff096a;
  color: white;
  border-radius: 8px;
}
.location {
  display: flex;
  align-items: center;
}
.location span {
  font-size: 12px;
  color: #575757;
}
.location:hover span {
  color: #ff096a;
}

/*------------ ------------- -------------------*/
