* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  direction: rtl;
  text-align: right;
  font-size: 14px;
  font-family: iranYekan;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

::placeholder {
  font-size: 13px;
  font-family: iranYekan;
  color: #696969;
}
.container {
  width: 100%;
  display: flex;
  background-color: #ff096ba5;
  filter: blur(10%);
  height: 833px;
}
.container-right {
  margin: 32px;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-boxes {
  position: relative;
  width: 450px;
  padding: 25px 15px;
  background-color: #f0b4b4b0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.container-right .logo-box {
  position: relative;
  display: flex;
  width: 300px;
  height: 76px;
  margin-bottom: 43px;
  padding-right: 16px;
}
.container-right img {
  width: 100%;
  height: auto;
}
.container-right .right-span {
  position: absolute;
  margin: 10px 0;
  padding-right: 15px;
  top: 104px;
  color: #373737;
  right: 25px;
}
.container-right .right-span a {
  position: relative;
  color: #400d70ad;
}
.container-right .right-span a::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 1px;
  left: 0;
  bottom: 0px;
  background-color: #400d70ad;
}
.container-left {
  position: relative;
  display: flex;
  width: 50%;
}
.container-left .img-box {
  display: flex;
  width: 100%;
  margin: 10px;
}
.container-left .img-box img {
  width: 100%;
  border-radius: 10px;
}
.return-button {
  width: 110px;
  height: 25px;
  padding: 0 4px;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  position: absolute;
  right: 22px;
  top: 20px;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.return-button:hover{
    scale: 1.1;
    background-color:#f0b4b4b0;
    color:#ef0b66;
     border: 1px solid #f0b4b4b0;
}

.return-button img {
  width: 14px;
  height: 14px;
}
.button-slider  {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 37%;
  width: 200px;
  height: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.button-slider span:nth-child(3){
     background-color:#5b0c219c; 
}
.button-slider span {
  width: 40px;
  height: 7px;
  background-color:#fff;
  border-radius: 8px;
  display: block;

}
.button-box-bottom {
  display: flex;
  width: 172px;
  height: 45px;
  border: 2px solid #ff096b33;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.button-box-bottom:hover {
  background-color: #ff096ba5;
}
.button-box-bottom a {
  display: flex;
}
.button-box-bottom img {
  width: 30px;
  height: 30px;
}
.button-box-bottom span {
  margin-left: 10px;
  color: #fff;
}
.form-box {
  width: 400px;
}
.form-box .input-top input {
  width: 173px;
  height: 47px;
  outline: none;
  border-radius: 6px;
  border: none;
  padding: 10px;
  background-color: #ff096b52;
  margin: 10px;
}
.form-box .input-middle input {
  width: 370px;
  height: 47px;
  outline: none;
  border-radius: 6px;
  border: none;
  padding: 10px;
  background-color: #ff096b52;
  margin: 10px;
}
.check-boxes {
  display: flex;
  padding-right: 11px;
  align-items: center;
  gap: 10px;
}
.check-boxes span a {
  color: #400d70ad;
}
.check-boxes input {
  width: 20px;
  height: 20px;
}
.between-form-and-button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 15px 0;
}

.between-form-and-button span::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 78px;
  background-color: #69696959;
  right: 12px;
  top: 55%;
  transform: translateY(-50%);
}
.between-form-and-button span::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 78px;
  background-color: #69696959;
  left: 12px;
  top: 55%;
  transform: translateY(-50%);
}

.form-box .input-down input {
  width: 370px;
  height: 47px;
  outline: none;
  border-radius: 6px;
  border: none;
  padding: 10px;
  background-color: #d9085cbd;
  margin: 10px;
  color: #363434;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.form-box .input-down:hover input {
  background-color: #ef0b66;
  color: #fff;
  font-weight: lighter;
}
.bottom-box {
  width: 386px;
  display: flex;
  justify-content: space-around;
}
