@import url("./font.css");
@import url("./reset.css");
html {
  direction: rtl;
}

body {
  background-color: #fff;
  font-size: 14px;
  font-family: vazir;
  color: #616161;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

/*--------------filter and products box -------------------*/
.c-products-filter {
  position: relative;
  width: 100%;
  padding: 24px 24px 0;
  display: flex;
}

.c-filter-box {
  position: sticky;
  top: 10px;
  width: 18%;
  padding: 0 20px;
  border: 1px solid #f0f0f1;
  border-radius: 8px;
  height: 100%;
}
.c-filter-box h4 {
  padding: 16px 0;
  font-size: 19px;
  color: #3f4064;
}

.c-filter-box ul li {
  color: #3f4064;
  font-size: 15px;
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f1;
}
.c-filter-box .ul-top li::after {
  content: "\f107";
  position: absolute;
  font-family: fontawesome;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.c-delivery {
  position: relative;
  border-bottom: #a1a3a8;
  padding: 12px 0;
}

.c-delivery .top {
  height: 40px;
}

.c-delivery .down span {
  color: #81858b;
  font-size: 14px;
}
.c-delivery img {
  position: absolute;
  right: 96px;
  top: 34%;
  transform: translateY(-50%);
}
.button-box {
  position: relative;
  border: 2px solid #a1a3a8;
  border-radius: 10px;
  height: 20px;
  width: 40px;
  display: inline-block;
  background-color: #fff;
}
.button-box i {
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #a1a3a8;
}
.font-style {
  color: #3f4064;
  font-size: 15px;
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f1;
}
.c-fast-delivery .button-box-fast-delivery {
  position: relative;
  border: 2px solid #1dbfd3;
  border-radius: 10px;
  height: 20px;
  width: 40px;
  display: inline-block;
  background-color: #1dbfd3;
}
.c-fast-delivery .button-box-fast-delivery i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #fff;
}
.c-fast-delivery .c-fast-delivery-top {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 104px;
  align-items: center;
  justify-content: space-between;
}
.c-fast-delivery .c-fast-delivery-top img {
  width: 18px;
  height: 18px;
}

.last-item {
  border: none;
}
/**********************************/

.c-products-box {
  width: 81%;
  margin-right: 22px;
}
/********** header - category **********/

.header-category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #f0f0f1;
}
.header-category-right {
  display: flex;
  align-items: center;
}
.header-category-right h5 {
  display: inline;
  color: #53547c;
  font-weight: 700;
  padding-left: 10px;
  font-size: 13px;
}
.header-category-right img {
  padding-left: 5px;
}
.header-category-right ul li:first-child {
  color: #ef394e;
}
.header-category .header-category-right ul {
  display: flex;
}
.header-category-right ul li {
  padding-left: 10px;
  font-size: 12px;
  color: #81858b;
}

.header-category-left {
  font-size: 12px;
  color: #81858b;
}

/***************products-box*****************/
.product-down-left {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.product-down-left .img-stars{
position: relative;

}

.img-stars .img-stars-colors{
  width: 54px;
  position: absolute;
  top: 0;

}


.c-products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  padding: 12px 14px;
  border-left: 1px solid #f0f0f1;
  border-bottom: 1px solid #f0f0f1;
}
.product:nth-child(4) {
  border-left: none;
}
.product:nth-child(8) {
  border-left: none;
}
.product:nth-child(12) {
  border-left: none;
}
.product:nth-child(16) {
  border-left: none;
}
.product:nth-child(20) {
  border-left: none;
}
.product a {
  display: flex;
  flex-direction: column;
}
.product a .img-box {
  display: flex;
  flex-direction: column;
}
.product a .c-pishnahad-shegeft {
  width: 116px;
  height: 14px;
}
.product a .c-img-product {
  width: 250px;
  height: 250px;
}
.product a h3 {
  height: 50px;
}
.text-header {
  font-size: 12px;
  color: #3f4064;
}
.text-span-product {
  color: #62666d;
  font-size: 11px;
}
.product-down-right {
  display: flex;

  align-items: center;
}
.product-down-right img {
  width: 18px;
  height: 18px;
}
.product-down {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.product-down-left img {
  width: 16px;
  height: 16px;
}
.discount {
  display: flex;
  justify-content: space-between;
}
.c-discount-right span {
  width: 34px;
  height: 20px;
  padding: 0 4px;
  background-color: #ef394e;
  color: #fff;
  border-radius: 14px;
  display: inline-block;
  text-align: center;
}
.c-discount-left {
  position: relative;
  display: flex;
  flex-direction: column;
}
.c-discount-left span {
  width: 92px;
  font-size: 16px;
  color: #3f4064;
}
.c-discount-left img {
  position: absolute;
  left: 3px;
  top: 23%;
  transform: translateY(-50%);
}
.c-discount-left del {
  color: #c0c2c5;
  font-size: 12px;
}
/**footer*/
.footer-boxes-site {
  width: 100%;
  margin-top: 24px;
}
.footer-top-box-site {
  padding: 16px;
  display: flex;
  background-color: #000;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}

.footer-top-box-site .right::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: #adadad;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
}
.footer-top-box-site .middle::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: #adadad;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
}
.footer-top-box-site .right {
  position: relative;
  display: flex;
  width: 25%;
  justify-content: center;
}
.footer-top-box-site .middle {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
.footer-top-box-site .left {
  position: relative;
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.footer-top-box-site strong {
  color: #ff096a;
  font-size: 13.33px;
}
.footer-top-box-site span {
  color: #fff;
  font-size: 12px;
}
.middle-text-of-footer-top {
  margin-bottom: 8px;
}
.middle-text-of-footer-top strong {
  color: #fff;
  font-size: 14px;
  padding-right: 26px;
}
.input-email-box-footer form {
  position: relative;

  width: 310px;
}
.input-email-box-footer form input {
  position: relative;
  padding: 12px 12px;
  width: 100%;
  border-radius: 0 5px 5px 0;
  border: none;
}
.input-email-box-footer form::after {
  content: "ارسال";
  position: absolute;
  left: -44px;
  height: 40px;
  width: 48.4px;
  color: white;
  border-radius: 5px 0 0 5px;
  align-content: center;
  padding-right: 12px;
  background-color: #ff096a;
}
.footer-top-box-site .left strong {
  color: #fff;
  font-size: 14px;
}

.footer-top-box-site .box-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  border-radius: 5px;
  width: 43px;
  height: 39px;
}
.left-strong-roja-social-media{
margin-bottom: 10px;
}
.boxex-social-media {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 45px;
}
.box-social-media a {
  width: 17.5px;
  height: 20px;
}
.box-social-media a img {
  width: 100%;
  height: auto;
}
.footer-down-box-site {
  background-color: #fef4f2;
  width: 100%;

  display: flex;
  flex-direction: column;
}
.footer-down-box-top {
  display: flex;
  width: 100%;
}
.footer-down-box-top .right {
  color: #717171;
  width: 33.33%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}
.footer-down-box-top .right strong {
  color: #282828;
  font-weight: bolder;
  font-size: 14px;
}
.footer-down-box-top .right a {
  width: 128px;
  height: 40px;
  display: block;
}
.footer-down-box-top .right a img {
  width: 100%;
  height: auto;
}
.footer-down-box-top .right span img {
  width: 15.75px;
  height: 14.5px;
}
.footer-down-box-top .middle {
  width: 33%;
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}
.footer-down-box-top .middle p {
  line-height: 2;
  width: 379px;
  text-align: justify;
  color: #717171;
}
.footer-down-box-top .middle a img {
  width: 9px;
  height: 11px;
  padding-top: 4px;
}
.footer-down-box-top .middle a {
  font-size: 12px;
  color: #717171;
}
.footer-down-box-top .left {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.footer-down-box-top .left .top-side {
  display: flex;
  justify-content: space-around;
  height: 58%;
}
.footer-down-box-top .left .top-side a {
  height: 24px;
  color: #707070;
  font-size: 14px;
  width: 100%;
}

.footer-down-box-top .left .top-side .right {
  display: flex;
  width: 230px;
  align-items: center;
}
.footer-down-box-top .left .top-side .right li {
  margin-bottom: 5px;
}
.footer-down-box-top .left .top-side .left {
  display: flex;
  width: 230px;
  justify-content: space-evenly;
  align-items: center;
}
.footer-down-box-top .left .down-side {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.image-boxes-logo {
  background-color: #fff;
  border-radius: 10px;
}
.image-boxes-logo a {
  padding: 8px;
  display: block;
  width: 96px;
  height: 115px;
}
.image-boxes-logo a img {
  width: 100%;
  height: auto;
}
.footer-down-box-down {
  height: 72.5px;
  display: flex;
  justify-content: center;
  padding: 24px 0;
  color: #717171;
}
