* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  direction: rtl;
  text-align: right;
  font-size: 14px;
  font-family: iranYekan;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

::placeholder {
  font-size: 13px;
  font-family: iranYekan;
  color: #696969;
}